*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  width:100%;
  height:50px;
  background-color:#FF9A4B;
}

main{
  width:960px;
  display:flex;
  justify-content:center;
  margin:50px auto;

}

.box1{
  width:300px;
  background-color:#EEEEEE;
  margin-right:30px;
  padding:10px;
  position:relative;
}

.step{
  position:absolute;
  background-color:#FF9A4B;
  color:white;
}

.image1{
  height:150px;
  background-image:url(img/flow01.png);
  background-position:bottom;
  background-size:cover;

}

.title{
  margin-top:15px 0 5px 0;
}

.box p{
  color:gray;
  text-align:left;
}

.box2{
  width:300px;
  background-color:#EEEEEE;
  margin-right:30px;
  padding:10px;


}

.image2{
  height:150px;
  background-image:url(img/flow02.png);
  background-position:100% 100%;
  background-size:cover;
}

.box3{
  width:300px;
  background-color:#EEEEEE;
  padding:10px;
}

.image3{
  height:150px;
  background-image:url(img/flow03.png);
  background-position:bottom;
  background-size:cover;
}

footer {
  height:50px;
  background-color:#AAAAAA;
}

 @media screen and (max-width:768px) {
  main{ display:inline-block;
        width:100%;

  }
  .box1{ position:relative;
         width:90%;
         margin:0 auto 20px auto;
  }

  .image1{
  }




  .box2{ width:90%;
         margin:0  auto 20px auto;
  }

  .box3{ width:90%;
         margin:0 auto 0 auto;
  }

}